@media (max-width: 767px) {
  .nav .visible-xs {
    display: inline-block !important; } }

.star-map .bxslider li {
  left: 0; }

.wave-forecast, .star-map, .tephi {
  /* Center the slideshow */
  /* Show active item in the pagination */
  /* Media quires for a responsive layout */
  /* For tablets & smart phones */
  /* For smartphones */
  /* For smaller displays like laptops */
  /* For larger displays */ }
  .wave-forecast img, .star-map img, .tephi img {
    max-width: 100%; }
  .wave-forecast .bx-wrapper .bx-viewport, .star-map .bx-wrapper .bx-viewport, .tephi .bx-wrapper .bx-viewport {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none; }
  .wave-forecast #slides, .star-map #slides, .tephi #slides {
    display: none; }
  .wave-forecast #slides .slidesjs-navigation, .star-map #slides .slidesjs-navigation, .tephi #slides .slidesjs-navigation {
    margin-top: 3px; }
  .wave-forecast #slides .slidesjs-previous, .star-map #slides .slidesjs-previous, .tephi #slides .slidesjs-previous {
    margin-right: 5px;
    float: left; }
  .wave-forecast #slides .slidesjs-next, .star-map #slides .slidesjs-next, .tephi #slides .slidesjs-next {
    margin-right: 5px;
    float: left; }
  .wave-forecast .slidesjs-pagination, .star-map .slidesjs-pagination, .tephi .slidesjs-pagination {
    margin: 6px 0 0;
    float: right;
    list-style: none; }
  .wave-forecast .slidesjs-pagination li, .star-map .slidesjs-pagination li, .tephi .slidesjs-pagination li {
    float: left;
    margin: 0 1px; }
  .wave-forecast .slidesjs-pagination li a, .star-map .slidesjs-pagination li a, .tephi .slidesjs-pagination li a {
    display: block;
    width: 13px;
    height: 0;
    padding-top: 13px;
    background-image: url(../img/pagination.png);
    background-position: 0 0;
    float: left;
    overflow: hidden; }
  .wave-forecast .slidesjs-pagination li a.active,
  .wave-forecast .slidesjs-pagination li a:hover.active, .star-map .slidesjs-pagination li a.active,
  .star-map .slidesjs-pagination li a:hover.active, .tephi .slidesjs-pagination li a.active,
  .tephi .slidesjs-pagination li a:hover.active {
    background-position: 0 -13px; }
  .wave-forecast .slidesjs-pagination li a:hover, .star-map .slidesjs-pagination li a:hover, .tephi .slidesjs-pagination li a:hover {
    background-position: 0 -26px; }
  .wave-forecast #slides a:link,
  .wave-forecast #slides a:visited, .star-map #slides a:link,
  .star-map #slides a:visited, .tephi #slides a:link,
  .tephi #slides a:visited {
    color: #fff; }
  .wave-forecast #slides a:hover,
  .wave-forecast #slides a:active, .star-map #slides a:hover,
  .star-map #slides a:active, .tephi #slides a:hover,
  .tephi #slides a:active {
    color: #fff; }
  .wave-forecast .navbar, .star-map .navbar, .tephi .navbar {
    overflow: hidden; }
  .wave-forecast .container, .star-map .container, .tephi .container {
    margin: 0 auto; }
  .wave-forecast .slidesjs-pagination .active, .star-map .slidesjs-pagination .active, .tephi .slidesjs-pagination .active {
    color: red; }
  @media (max-width: 767px) {
    .wave-forecast .container, .star-map .container, .tephi .container {
      width: auto; }
    .wave-forecast .btn-group a, .star-map .btn-group a, .tephi .btn-group a {
      max-width: 16vw;
      overflow: hidden; } }
  @media (max-width: 480px) {
    .wave-forecast .container, .star-map .container, .tephi .container {
      width: auto; } }
  @media (min-width: 768px) and (max-width: 979px) {
    .wave-forecast .container, .star-map .container, .tephi .container {
      width: 724px; } }
  @media (min-width: 1200px) {
    .wave-forecast .container, .star-map .container, .tephi .container {
      width: 1170px; } }
  .wave-forecast .bx-wrapper, .star-map .bx-wrapper, .tephi .bx-wrapper {
    width: 850px; }

.star-week h2 a {
  font-size: 0.5em;
  margin-left: 10px;
  padding-bottom: 0.3em; }
.star-week img {
  max-width: 100%; }
.star-week img.graph {
  background: url("../loading.gif") center center no-repeat;
  background-size: contain;
  max-height: 700px;
  min-height: 150px;
  height: auto; }

.blipspot h2 a {
  font-size: 0.5em;
  margin-left: 10px;
  padding-bottom: 0.3em; }
.blipspot img {
  max-width: 100%; }
.blipspot img.graph {
  background: url("../loading.gif") center center no-repeat;
  background-size: contain;
  max-height: 700px;
  min-height: 150px;
  height: auto; }

.hangarcam img {
  max-width: 100%; }

/*# sourceMappingURL=styles.css.map */
